:root {
  --Blue-background: rgba(25, 95, 226, 0.808);
  --Blue-letter: rgb(68, 68, 175);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  position: block;
}

.logo-header {
  width: 100px;
}

.nombre {
  color: var(--Blue-letter);
  font-weight: 700;
  font-size: 18px;
  width: 10%;
  margin-right: -150px;
  margin-left: 150px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.list-header {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 40px;
  background-color: var(--Blue-background);
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.6);
}

.list-header__item {
  text-align: center;
  padding: 8px;
  width: 20%;
  height: 100%;
  list-style: none;
  transition: 0.6s;
}

.list-header__item:hover {
  cursor: pointer;
  height: 100%;
  background-color: rgba(56, 54, 54, 0.233);
}

.whatsApp {
  background-color: var(--Blue-background);
  width: 10%;
  height: 40px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.6);
  transition: 0.6s;
}

.whatsApp:hover {
  cursor: pointer;
  background-color: rgba(8, 30, 71, 0.575);
}
