:root {
  --Blue-letter: rgb(68, 68, 175);
  --Blue-letter-hover: rgba(32, 32, 102, 0.945);
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  margin: 10px 0 30px;
  color: var(--Blue-letter);
  font-size: 50px;
  font-weight: 800;
}

.list-home {
  display: flex;
}
.list-item__home {
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: start;
}

.list-item__image,
.list-item__title,
.list-item__paragraph {
  margin-bottom: 10px;
  color: var(--Blue-letter);
}

.list-item__title {
  font-weight: 800;
}

.list-item__image {
  margin: auto;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 60px;
}

.list-item__paragraph {
  height: 5%;
}

.list-item__btn {
  margin: 50px auto;
  background-color: var(--Blue-letter);
  color: rgba(233, 227, 227, 0.993);
  width: 150px;
  height: 10%;
  font-weight: 700;
  transition: 0.6s;
}

.list-item__btn:hover {
  background-color: var(--Blue-letter-hover);
}
